@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: Gotham-Book;
   src: url('../assets/fonts/GothamBook.ttf');
}

body {
   margin: 0;
   font-family: 'Gotham-Book';
}
